<%- include('./partials/head') %>


    <div>
        <a href="/gin">Gin</a>
    </div>
    <div>
        <a href="/vodka">Vodka</a>
    </div>
    <div>
        <a href="/rum">Rum</a>
    </div>
    <div>
        <a href="/scotch">Scotch</a>
    </div>
    <div>
        <a href="/free">Alkoholfrei</a>
    </div>
    <div>
        <a href="/random">Zufall</a>
    </div>

    <%- include('./partials/foot') %>